<h2 class="auth-heading component-heading">Log in</h2>
<div class="auth-message" *ngIf="haveToLogin">To use our app you have to sign in at first</div>
<div class="auth-message auth-error" *ngIf="authError">Authentication error. Login or password is incorrect</div>
<form class="auth-form" [formGroup]="authForm" (ngSubmit)="authSubmit()">
  <mat-form-field class="form-field">
    <mat-label>Login</mat-label>
    <input matInput placeholder="Login..." formControlName="login" required [errorStateMatcher]="matcher">
    <mat-error *ngIf="authForm.get('login').hasError('required')">
      Login is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Password..." formControlName="password" required [errorStateMatcher]="matcher">
    <mat-error *ngIf="authForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <div class="button-set">
    <button
      mat-raised-button color="primary"
      type="submit"
      class="btn"
      [disabled]="authForm.invalid"
    >Log in</button>
    <button
      mat-raised-button
      color="primary" [routerLink]="['/register']"
      class="btn"
    >Register</button>
  </div>
  <p>Or sign in with</p>
  <div class="button-set">
    <button
      mat-raised-button
      class="btn social-auth-btn"
      type="button"
      (click)="loginWithGoogle()"
    >
      <img src="assets/images/google.png" alt="google-icon">
      <span>Google</span></button>
    <button
      mat-raised-button
      class="btn social-auth-btn"
      type="button"
    >
      <img class="facebook" src="assets/images/facebook1.png" alt="facebook-icon">
      <span>Facebook</span>
    </button>
  </div>
</form>

