<section id="history">
  <h1 class="component-heading">Your speed test history</h1>
<!--  {{test}}-->
  <mat-card class="stat-filter">
    <div class="filters">
      <mat-form-field class="speed-stat-select">
        <mat-label>Speed stat</mat-label>
        <mat-select  [(value)]="speedStatFor" (valueChange)="speedStatSelectChange()">
          <mat-option value="all">all time</mat-option>
          <mat-option value="hour">last hour</mat-option>
          <mat-option value="day">last day</mat-option>
          <mat-option value="custom">custom date</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="custom-date-select" *ngIf="speedStatFor === 'custom'">
        <mat-label>Choose date</mat-label>
        <input matInput [matDatepicker]="dp" [value]="customDate" (dateChange)="customDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </div>
    <button
      class="btn"
      mat-button
      color="accent"
      (click)="clearFilter()"
    >Clear filter</button>
  </mat-card>
  <div class="main-stat">
    <p>Total tests done:  <strong>{{totalTestsDone}}</strong></p>
    <p>Available results:  <strong>{{availableTestsAmount}}</strong></p>
    <div class="not-available-results">
      <p>Results will be no longer available in
        <mat-form-field class="not-available-select">
          <mat-select [(value)]="notAvailableIn" (valueChange)="unavailableSelectChange()">
            <mat-option value="hour">an hour</mat-option>
            <mat-option value="day">a day</mat-option>
          </mat-select>
        </mat-form-field>: <strong>{{almostUnavailableTestsAmount}}</strong></p>
<!--      <mat-form-field class="not-available-select">-->
<!--        <mat-select [(value)]="notAvailableIn" (valueChange)="unavailableSelectChange()">-->
<!--          <mat-option value="hour">an hour</mat-option>-->
<!--          <mat-option value="day">a day</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->

    </div>

  </div>
  <div class="stat-numbers">
    <mat-card class="top-download stat-download">
      <h2 class="stat-number-heading">Top Download Speed</h2>
      <p class="stat-number">{{topDownload | number:'1.0-2'}}</p>
      <p class="stat-number-label">Mbps</p>
    </mat-card>
    <mat-card class="avg-download stat-download">
      <h2 class="stat-number-heading">Average Download Speed</h2>
      <p class="stat-number">{{avgDownload | number:'1.0-2'}}</p>
      <p class="stat-number-label">Mbps</p>
    </mat-card>
    <mat-card class="top-upload stat-upload">
      <h2 class="stat-number-heading">Top Upload Speed</h2>
      <p class="stat-number">{{topUpload | number:'1.0-2'}}</p>
      <p class="stat-number-label">Mbps</p>
    </mat-card>
    <mat-card class="avg-upload stat-upload">
      <h2 class="stat-number-heading">Average Upload Speed</h2>
      <p class="stat-number">{{avgUpload | number:'1.0-2'}}</p>
      <p class="stat-number-label">Mbps</p>
    </mat-card>
  </div>

  <div class="table-block mat-elevation-z8">
    <div class="table-overflow">
      <table mat-table [dataSource]="dataSource" matSort class="result-history-table">

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Test Date </th>
          <td mat-cell *matCellDef="let element"> {{element.testDate | date:'d/M/yy, h:mm a' }} </td>
        </ng-container>

        <ng-container matColumnDef="expiration-date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiration Date </th>
          <td mat-cell *matCellDef="let element"> {{element.expirationDate | date:'d/M/yy, h:mm a' }} </td>
        </ng-container>

        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-icon>vertical_align_bottom</mat-icon>
            Download
            <p class="mbit">Mbts</p>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.download}} </td>
        </ng-container>

        <ng-container matColumnDef="upload">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-icon>vertical_align_top</mat-icon>
            Upload
            <p class="mbit">Mbts</p>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.upload}} </td>
        </ng-container>

        <ng-container matColumnDef="server">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Server </th>
          <td mat-cell *matCellDef="let element"> {{element.server}} </td>
        </ng-container>

        <ng-container matColumnDef="share">
          <th mat-header-cell *matHeaderCellDef> Share </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="share-btn"
                      [cdkCopyToClipboard]="element['link']"
                      matTooltip="Copy link to clipboard"
                      #tooltip="matTooltip"
                      (click)="tooltip.show()"
            >share</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>


</section>
