#speed-test {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .main-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  ngx-gauge {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .gauge-block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn {
      align-self: center;
      font-size: 1.5rem;
      padding: 5px 30px;
    }
  }

  .speed-right {
    width: 580px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #1e2d47;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);

    .speed-chart {
      width: 100%;
      height: 270px;
      margin-bottom: 5px;
    }
  }

  .current-stats {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;

    mat-card.mat-card {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 30px 0px;
      display: flex;
      align-items: center;
      width: 200px;

      .stat-label {
        font-size: 0.7rem;
      }

      mat-icon.mat-icon {
        color: #17223b;
        font-size: 2rem;
        font-weight: bold;
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

      span {
        font-size: 1.3rem;
      }
    }

    .current-upload {
      background: #ff6768;
    }

  }

  .current-upload {
    margin-left: 15px;
  }

  mat-form-field.mat-form-field {
    font-size: 1.2rem;

    .mat-option-text {
      font-family: Montserrat, Roboto, sans-serif;
    }
  }

  .test-hint {
    margin-bottom: 10px;
  }

  .test-config {
    & > *:not(:last-child) {
      margin-right: 15px;
    }

    .file-size-block,
    .ttl-block{
      display: inline-block;
    }

    .file-size {
      width: 130px;
    }

    .time-type {
      width: 75px;
    }

    .time-to-live {
      width: 100px;
    }
  }

  .ip-block {
    margin-top: 15px;

    .ip {
      font-size: 1.2rem;

      strong {
        color: #00bcd4;
      }
    }
  }

}

@media (max-width: 1111px) {
  #speed-test {
    .main-form {
      justify-content: space-between;
    }
  }
}

@media (max-width: 1001px) {
  #speed-test {
    .main-form {
      flex-direction: column;
      justify-content: center;
    }
    .gauge-block {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 621px) {
  #speed-test {
    .speed-right {
      width: 100%;
    }
  }
}

@media (max-width: 491px) {
  #speed-test {
    .current-stats {
      flex-direction: column;

      mat-card.mat-card {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
    .gauge-block {
      canvas {
        width: 200px;
        height: 200px;
      }
    }

    mat-form-field.mat-form-field,
    .file-size-block,
    .ttl-block {
      width: 100%;
    }

    .test-config {
      .ttl-block {
        display: inline-flex;
        margin-top: 7px;
      }
      .file-size {
        width: 100%;
      }
      .time-to-live {
        flex: 1.5;
      }
    }
  }
}

@media (max-width: 415px) {
  #speed-test {
    .speed-right {
      .speed-chart {
        height: 150px;
      }
    }
  }
}
