<section id="speed-test" (window:resize)="onResize($event)">
  <form class="main-form" [formGroup]="speedTestForm">
    <div class="gauge-block">
      <ngx-gauge [type]="gaugeType"
                 [value]="gaugeValue"
                 [label]="gaugeLabel"
                 [append]="gaugeAppendText"
                 [size]="gaugeSize"
                 [foregroundColor]="gaugeForeground"
      >
      </ngx-gauge>
      <button
        class="btn"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="isStartDisabled || speedTestForm.invalid"
        (click)="startSpeedTest()"
      >
        Start
      </button>
    </div>

    <div class="speed-right">
      <p *ngIf="!isTestStarted" class="test-hint">To start the test you have to choose file size and lifetime of the test.</p>
      <div class="speed-chart" *ngIf="isTestStarted" [@zoom]="zoom">
        <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          (chartClick)="onChartClick($event)">
        </canvas>
      </div>
      <div class="current-stats" *ngIf="isTestStarted" [@zoom]="zoom">
        <mat-card class="current-download">
          <mat-icon> vertical_align_bottom</mat-icon>
          <div class="stat-field">
            <p class="stat-label">Download</p>
            <mat-spinner diameter="30" *ngIf="!downloadSpeed && isStartDisabled"></mat-spinner>
            <span *ngIf="downloadSpeed">{{ downloadSpeed | number:'1.0-2' }} Mbps</span>
          </div>
        </mat-card>
        <mat-card class="current-upload">
          <mat-icon> vertical_align_top</mat-icon>
          <div class="stat-field">
            <p class="stat-label">Upload</p>
            <mat-spinner diameter="30" *ngIf="!uploadSpeed && isStartDisabled"></mat-spinner>
            <span *ngIf="uploadSpeed">{{ uploadSpeed | number:'1.0-2' }} Mbps</span>
          </div>
        </mat-card>
      </div>
      <div class="test-config">
        <mat-form-field>
          <mat-label>Select a server</mat-label>
          <mat-select formControlName="server">
            <mat-option value="any">Any</mat-option>
            <mat-option value="frankfurt">Frankfurt</mat-option>
            <mat-option value="california">South Carolina</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="file-size-block">
          <mat-form-field class="file-size">
            <mat-label>File size</mat-label>
            <input matInput type="number" placeholder="0" formControlName="fileSize">
            <span matSuffix>Mb</span>
            <mat-hint>Max size is 10 Mb</mat-hint>
            <mat-error *ngIf="speedTestForm.get('fileSize').hasError('required')">
              File size is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="speedTestForm.get('fileSize').hasError('min') &&
                       !speedTestForm.get('fileSize').hasError('required')"
            >
              File size must be not less than <strong>1</strong> Mb
            </mat-error>
            <mat-error *ngIf="speedTestForm.get('fileSize').hasError('max') &&
                       !speedTestForm.get('fileSize').hasError('required')"
            >
              File size must be not more than <strong>10</strong> Mb
            </mat-error>
          </mat-form-field>
        </div>
        <div class="ttl-block">
          <mat-form-field class="time-to-live">
            <mat-label>Lifetime</mat-label>
            <input matInput type="number" placeholder="1" formControlName="lifetime">
            <mat-error *ngIf="speedTestForm.get('lifetime').hasError('required')">
              Lifetime is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="speedTestForm.get('lifetime').hasError('min') &&
                       !speedTestForm.get('lifetime').hasError('required')"
            >
              Lifetime must be not less than <strong>1</strong> {{ speedTestForm.get('timeType').value.slice(0,-1) }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="time-type">
            <mat-select formControlName="timeType">
              <mat-option value="hours">hours</mat-option>
              <mat-option value="days">days</mat-option>
              <mat-option value="weeks">weeks</mat-option>
            </mat-select>
          </mat-form-field>
<!--          {{speedTestForm.get('timeType').value}}-->
        </div>
      </div>
      <div class="ip-block">
        <p class="ip">Your IP:  <strong>{{ clientIpAddress }}</strong></p>
      </div>
    </div>
  </form>

</section>



