<h2 class="register-heading component-heading">Create an account</h2>
<form action="" class="account-form" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
  <mat-form-field class="form-field">
    <mat-label>Username</mat-label>
    <input matInput placeholder="example123" formControlName="username" [errorStateMatcher]="matcher" required>
<!--    <mat-error *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">-->
<!--      Please enter a valid email address-->
<!--    </mat-error>-->
    <mat-error *ngIf="registerForm.get('username').hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.get('username').hasError('usernameExists')">
      Username <strong>{{registerForm.get('username').value}}</strong> already exists
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Email address</mat-label>
    <input matInput placeholder="smth@example.com" formControlName="email" [errorStateMatcher]="matcher" required>
    <mat-error
      *ngIf="(registerForm.get('email').hasError('email') || registerForm.get('email').hasError('pattern')) &&
      !registerForm.get('email').hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="registerForm.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.get('email').hasError('emailExists')">
      Email <strong>{{registerForm.get('email').value}}</strong> already exists
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Choose a password</mat-label>
    <input matInput type="password" placeholder="Password..." formControlName="password" [errorStateMatcher]="matcher" required>
    <mat-error *ngIf="registerForm.get('password').hasError('password') && !registerForm.get('password').hasError('required')">
      Password must contain at least <strong>1</strong> number, capital and small letters
    </mat-error>
    <mat-error *ngIf="registerForm.get('password').hasError('minlength') &&
               !registerForm.get('password').hasError('required') &&
               !registerForm.get('password').hasError('password')">
      Password must be at least <strong>{{registerForm.get('password').errors.minlength.requiredLength}}</strong> characters long;
      current length: <strong>{{ registerForm.get('password').errors.minlength.actualLength }}</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Confirm a password</mat-label>
    <input matInput type="password" placeholder="Password..." formControlName="confirmPassword"  required>
    <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">
      Confirmation is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.get('confirmPassword').hasError('confirm') && !registerForm.get('confirmPassword').hasError('required')">
      Passwords doesn't match
    </mat-error>
  </mat-form-field>
  <div class="button-set">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="btn"
      [disabled]="registerForm.invalid || registerForm.pending"
    >Register</button>
  </div>

  {{registerForm.get('confirmPassword').errors | json }}

</form>
