.register-heading {
  margin-bottom: 30px;
  font-size: 2rem;
}

.account-form {
  display: flex;
  flex-direction: column;
  width: 500px;

  mat-form-field.mat-form-field {
    color: #fff;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .btn:first-child {
    margin-right: 15px;
  }

  .button-set {
    margin-top: 15px;
  }

}

@media (max-width: 540px) {
  .register-heading {
    font-size: 1.5rem;
  }
  .account-form {
    width: 100%;

  }
}

@media (max-width: 491px) {
  .account-form {
    mat-form-field.mat-form-field {
      margin-bottom: 10px;

      mat-error.mat-error {
        font-size: 0.7rem;
      }
    }
  }
}
